*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.MuiStepLabel-label {
  cursor: pointer;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 50%;
  transform: translate(0, 50%);
  width: 1px;
  height: calc(100% - 30px);
  background-color: rgba(117, 117, 117, 0.5);
  visibility: visible !important;
}
.MuiAutocomplete-clearIndicator {
  visibility: visible !important;
}
